.info {
    text-align: center;
    width: 100%;
}
.posts {
    width: 100%;
}
.enter {
    margin-left: calc(50% - 200px);
    width: 400px;
    height: 200px;
    resize: none;
    outline: none;
    border: none; 
}
.enter:focus {
    box-shadow: 0 0 15px blue;
    outline: none;
}

button {
    margin-top: 10px;
    width: 100px;
    margin-left: calc(50% - 50px);
}

button:focus {
    outline:none;
}