.thispost {
    height: 50px;
    background-color: ivory;
    padding: 5px;
    margin: 10px;
    border-radius: 20px;
    border: rgba(143, 197, 233, 0.473) 4px solid;
    box-shadow: 0 0 10px rgb(90, 75, 73);
    display: grid;
    grid-template-columns: 1fr 12fr 1fr;
}

.thispost span {
    line-height: 50px;
    padding-left: 15px;
}
.image {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    margin-left: 25px;
    transition: linear .4s all;
    position: absolute;
}
@media screen and (max-width: 1450px){
    .image {
        margin-left: 0px;
    }
    .thispost span {
        padding-left: 50px
    }
}
@media screen and (max-width: 760px){
    .thispost {
        height: 100px;
    }
}
.divimg:hover>.image {
    width: 150px;
    height: 150px;
    border-radius: 150px;
    transform: translate(-120px, -50px);
}

.but {
    width: 25px;
    height: 25px;
    margin-left: 60px;
    margin-top: -2px;
    border: none;
    cursor: pointer;
    background-color: inherit;
    transition: linear .4s all;
}

.but:hover {
    font-size: 25px;
    color:rgba(12, 171, 211, 0.788);
    font-weight: bold;
}