.friendwindow {
    height: 150px;
    width: 100%;
    line-height: 25px;
    font-size: 20px;
    text-align: left;
    display: grid;
    grid-template-columns: 2fr 10fr;
}
.profileimg img {
    height: 150px;
    border-radius: 360px;
}

.profileimg {
    text-align: center;
}

.friendwindow h3 {
    padding-left: 15px;
}

.friendwindow h3:hover {
    color: red;
}